:root {
    --main-bg-color: #1f6fc2;
    --main-bg-color-dark: #0858aa;
    --main-border-color: #ccc;
    --main-font-color: #555;
    --light: #fafafa;
    --danger: rgba(227, 52, 47, 0.85);
    --success: #38c172;
}

html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    color: var(--main-font-color);
}

section {
    float: left;
    width: 100%;
}

p {
    color: var(--main-font-color);
}

ul, ol {
    padding: 0;
}

li {
    list-style: none;
}

input, textarea, select{
    box-sizing: border-box;
    border-radius: 5px;
    border: solid 1px var(--main-border-color);
    line-height: 200%;
    font-size: 100%;
    padding-left: 5px;
}

select {
    min-height: 40px;
}

form input {
    width: 100%;
}

/* Columnas responsive */
.col-res-1, .col-res-2, .col-res-3, .col-res-4, .col-res-5, .col-res-6, .col-res-7, .col-res-8, .col-res-9, .col-res-10 {
    width: 100%;
}

.offset-res-1, .offset-res-2, .offset-res-3, .offset-res-4, .offset-res-5, .offset-res-6, .offset-res-7,
.offset-res-8, .offset-res-9 {
    margin-left: 0;
}

.container {
    width: 95%;
    margin-left: 2.5%;
}

.container-full {
    float: left;
    width: 100%;
}

.container-full * {
    width: 90%;
    margin-left: 5%;
}

.navbar {
    width: 100vw;
    height: 7vh;
    position: fixed;
    background-color: #ffffff;
    left: 0;
    top: 0;
    border-top: solid 3px var(--main-bg-color);
    border-bottom: solid 1px var(--main-border-color);
    z-index: 2;
}


.logo {
    color: var(--main-bg-color);
    font-size: 150%;
    font-weight: 800;
    margin-top: 1vh;
}

.navbar-items ul {
    padding-left: 0;
}

.navbar-items li {
    display: inline;
    font-size: 85%;
}

.body {
    margin-top: 5vh;
    padding-top: 2vh;
}

a {
    text-decoration: none;
}

.navbar-items a {
    color: var(--main-bg-color);
}

.cover {
    background-image: linear-gradient(to left, rgba(55, 136, 252, 0.5), rgba(57, 119, 223, 0.8)),
    url('../imgs/portada.jpg');
    height: 30vh;
    min-height: 240px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.cover-body {
    padding-top: 5%;
}

.cover h1 {
    font-size: 150%;
    margin-bottom: 0;
}

.cover h2 {
    font-size: 100%;
    font-weight: 400;
    width: 95%;
    padding-bottom: 2.5%;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.col-1 {
    width: 10%;
    float: left;
}

.col-2 {
    width: 20%;
    float: left;
}

.col-3 {
    width: 30%;
    float: left;
}

.col-4 {
    width: 40%;
    float: left;
}

.col-5 {
    width: 50%;
    float: left;
}

.col-6 {
    width: 60%;
    float: left;
}

.col-7 {
    width: 70%;
    float: left;
}

.col-8 {
    width: 80%;
    float: left;
}

.col-9 {
    width: 90%;
    float: left;
}

.col-10 {
    width: 100%;
    float: left;
}

.offset-1 {
    margin-left: 10%;
}

.offset-2 {
    margin-left: 20%;
}

.offset-3 {
    margin-left: 30%;
}

.offset-4 {
    margin-left: 40%;
}

.offset-5 {
    margin-left: 50%;
}

.offset-6 {
    margin-left: 60%;
}

.offset-7 {
    margin-left: 70%;
}

.offset-8 {
    margin-left: 80%;
}

.offset-9 {
    margin-left: 90%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-lg {
    font-size: 125%;
}

.text-sm {
    font-size: 85%;
}

.text-danger {
    color: var(--danger);
}

.text-success {
    color: #38c172;
}

.text-white {
    color: #fff;
}

.text-main {
    color: var(--main-bg-color);
}


.badge-success {
    float: left;
    background-color: #38c172;
    padding: 2px;
    color: #fff;
}

.badge-warning {
    float: left;
    color: #ffb200;
    border: solid 1px #ffb200;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    font-size: 80%;
    margin-top: 2vw;
}


.ml-1 {
    margin-left: 2.5%;
}

.ml-2 {
    margin-left: 5%;
}

.ml-3 {
    margin-left: 7.5%;
}

.ml-4 {
    margin-left: 10%;
}

.ml-5 {
    margin-left: 12.5%;
}

.p-1 {
    padding: 1%;
}

.p-2 {
    padding: 2%;
}

.p-3 {
    padding: 3%;
}

.p-4 {
    padding: 4%;
}

.p-5 {
    padding: 5%;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 25%;
}

.w-75 {
    width: 25%;
}

.w-100 {
    width: 100%;
}

@media (min-width: 768px) {

    .col-res-1 {
        width: 10%;
        float: left;
    }

    .col-res-2 {
        width: 20%;
        float: left;
    }

    .col-res-3 {
        width: 30%;
        float: left;
    }

    .col-res-4 {
        width: 40%;
        float: left;
    }

    .col-res-5 {
        width: 50%;
        float: left;
    }

    .col-res-6 {
        width: 60%;
        float: left;
    }

    .col-res-7 {
        width: 70%;
        float: left;
    }

    .col-res-8 {
        width: 80%;
        float: left;
    }

    .col-res-9 {
        width: 90%;
        float: left;
    }

    .col-res-10 {
        width: 100%;
        float: left;
    }


    .offset-res-1 {
        margin-left: 10%;
    }

    .offset-res-2 {
        margin-left: 20%;
    }

    .offset-res-3 {
        margin-left: 30%;
    }

    .offset-res-4 {
        margin-left: 40%;
    }

    .offset-res-5 {
        margin-left: 50%;
    }

    .offset-res-6 {
        margin-left: 60%;
    }

    .offset-res-7 {
        margin-left: 70%;
    }

    .offset-res-8 {
        margin-left: 80%;
    }

    .offset-res-9 {
        margin-left: 90%;
    }

    .row {
        width: 100%;
        float: left;
    }

}


.btn {
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    margin: 0;
    font-size: 80%;
    vertical-align: center;
}

.btn-lg {
    padding: 10px;
    font-size: 90%;
    font-weight: 500;
}

.btn-sm {
    padding: 3px 6px 4px 6px ;
    font-size: 75%;
    font-weight: 100;
}

.btn-block {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.btn-blue {
    background-color: var(--main-bg-color);
    color: #ffffff;
    transition-duration: 0.5s;
}

.btn-blue:hover {
    background-color: var(--main-bg-color-dark);
    transition-duration: 0.5s;
}


.btn-border-white {
    background-color: #ffffff;
    color: var(--main-bg-color);
    transition-duration: 0.5s;
}

.btn-border-white:hover {
    background-color: var(--main-bg-color);
    color: #fff;
    transition-duration: 0.5s;
}

.btn-border-light {
    background-color: #eee;
    border-radius: 5px;
    border: 0;
    color: var(--main-bg-color);
    transition-duration: 0.5s;
}

.hidden {
    visibility: hidden;
}

.d-none {
    display: none;
}

.fadeout {
    opacity: 0;
    transition-duration: 0.5s;
}

.card {
    border: solid 1px var(--main-border-color);
    border-radius: 5px;
    padding: 1.5%;
    margin-bottom: 2.5%;
    box-shadow: 10px 5px 5px #ccc;
}

.section-title {
    padding-bottom: 5px;
    border-bottom: solid 1px var(--main-border-color);
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    font-weight: 900;
    color: var(--main-font-color);
}

.bg-main {
    background-color: var(--main-bg-color);
}

.bg-light {
    background-color: var(--light);
}

.info-title {
    padding-bottom: 10px;
    border-bottom: solid 1px var(--main-border-color);
    font-family: 'Open sans', sans-serif;
    font-size: 120%;
    font-weight: 600;
}

.button-info-title {
    margin-left: 75%;
    position: absolute;
    margin-top: -50px;
    text-align: right;

}

/* Info message */
.info-message{
    width: 95%;
    padding: 2.5%;
    text-align: center;
    transition-duration: 0.5s;
}

.info-message * {
    margin: 0;
    color: #fff;
    font-size: 90%;
}

.error-message{
    background-color: var(--danger);
}

.success-message {
    background-color: var(--success);
}


/* Info section */

.info-section {
    padding: 2vh 0 5vh 0;
    margin-top: 2vh;
    text-align: center;
}

.info-section .info-title {
    border-bottom: none;
}

.info-section li {
    text-align: left;
}

.info-section ol {
    margin-bottom: 5vh;
}

.container-border-down {
    border-bottom: solid 1px var(--main-bg-color);
    padding-bottom: 10vw;
}

/* Coursecard */

.course-card {
    width: 100%;
    height: 115px;
    word-wrap: break-word;
    /*border: solid 1px var(--main-border-color);*/
    /*border-radius: 5px;*/
    box-shadow: 0px 2px 5px  var(--main-border-color);
    margin-bottom: 5%;
    float: left;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s; /* Firefox < 16 */
    -ms-animation: fadein 1s; /* Internet Explorer */
    -o-animation: fadein 1s; /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.course-card-img-section {
    float: left;
    width: 40%;
    height: 100%;
    position: relative;
}

.course-card-info-section {
    float: left;
    width: 55%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    position: relative;
}

.course-card-link-section {
    float: left;
    width: 55%;
    margin-left: 2.5%;
}


.course-card img {
    /*width: 40%;*/
    /*height: 100%;*/
    /*margin-top: auto;*/
    /*margin-right: 5%;*/
    max-height: 100%;
    max-width: 90%;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    bottom: 50%;
    margin: auto 5% auto 5%;
}

.course-card-title {
    overflow: hidden;
    max-height: 40px;
    max-width: 95%;
    margin: 5% 0 0 0;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
    font-weight: 600;
    /*color: var(--main-bg-color-dark);*/
    color: var(--main-font-color);
}

.course-card p {
    float: left;
    font-size: 85%;
    margin: 0;
    line-height: 160%;
}

.course-card-price {
    width: 45%;
    text-align: right;
}

.course-card-date {
    width: 50%;
    border-right: solid 1px var(--main-border-color);
}

.course-card-time {
    width: 50%;
    border-right: solid 1px var(--main-border-color);
}

.course-card-duration {
    width: 45%;
    text-align: right;
}

.course-card form {
    float: left;
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 87.5%;
    margin: 20% 0 0 5%;
    padding: 1vh 1vw 4vw 3vw;
    border: solid 1px var(--main-border-color);
    box-shadow: 2px 25px 85px var(--main-border-color);
}

.course-card form input {
    margin-top: 0.5vh;
    width: 97%;
    margin-left: 1%;
}

.course-card .btn {
    margin-top: 2vh;
    width: 30%;
    margin-left: 35%;
}

.course-card form label {
    float: left;
    width: 90%;
    font-size: 90%;
    color: var(--main-font-color);
}

.close-btn {
    width: 8%;
    text-align: right;
    margin-right: 2vw;
    padding-right: 2%;
}

.lbl-info {
    float: left;
    font-size: 80%;
    color: var(--main-bg-color);
}


/* Create course form */

#create-course-form img {
    max-height: 100px;
    max-width: 100%;
}

.img-input input{
    width: 90%;
    font-size: 75%;
    left: 5%;
    border: none;
}

#create-course-form p {
    min-height: 50px;
}

#create-course-form p label {
    width: 100%;
    float: left;
    font-size: 90%;
}

#create-course-form span {
    margin-top: 1vh;

}

#create-course-form textarea {
    resize: vertical;
    width: 100%;
    min-height: 50px;
    max-height: 300px;
}

.form-error-message {
    color: var(--danger);
    font-size: 80%;
    font-family: "Open Sans";
}


/* Course view */

.course-view {
    float: left;
    margin-bottom: 2vh;
    overflow: hidden;
}

/*.course-view * {*/
/*    float: left;*/
/*}*/


.course-view img {
    min-width: 100vw;
    max-height: 25vh;
}


.course-view h3{
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    font-weight: 800;
    margin: 2.5% 0 0 0;
    overflow-wrap: break-word;
}

.course-info-duration {
    margin:0;
    padding: 0;
    font-size: 90%;
}

.course-view-description {
    font-size: 95%;
    margin-top: 1.5%;
}

.course-view-info {
    width: 60%;
    margin-left: 10%;
    margin-right: 30%;
    background-color: #fffdfa;
    line-height: 90%;
    padding: 1vh 0 1vh 0;
}

.course-view-info i {
    width: 15%;
    float: left;
}

.course-view-info {
    font-size: 90%;
}

.course-view-price-spots {
    float: left;
    width: 80%;
    margin-left: 10%;
    text-align: center;
    font-family: 'Roboto';
    margin-bottom: 2.5%;
}

.course-view-price {
    font-size: 125%;
    font-weight: 800;
    border-right: solid 1px var(--main-border-color);
    padding-right: 2.5vw;
}

.course-view-spots {
    font-size: 90%;
    margin-left: 2.5vw;
}

.course-view-btn {
    float: left;
    width: 100%;
    margin-top: 0;
}

.course-view-btn a, .course-view-btn form{
    float: left;
    margin-bottom: 2vh;
    width: 100%;
    text-align: center;
}

.course-view-btn form button {
    width: 100%;
}

.course-view-learn {
    float: left;
    width: 99%;
    border: solid 1px var(--main-border-color);
    background-color: rgba(0, 70, 248, 0.05);
}

.course-view-learn * {
    width: 80%;
    margin-left: 10%;
    text-align: center;
}

.course-view-learn h4 {
    font-size: 125%;
    font-family: 'Roboto';
    font-weight: 800;
    text-align: center;
}

.ready-for-payment {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100vw;
    min-height: 15vw;
    max-height: 18vw;
    background-color: #fff;
    border-top: solid 1px var(--main-border-color);
    box-shadow: 0 -2px 4px rgba(0,0,0,.08), 0 -4px 12px rgba(0,0,0,.08)
}

.ready-for-payment p {
    width: 65%;
    float: left;
    margin-left: 0;
    margin-top: 3.5vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    border: none;
}

.ready-for-payment .course-view-spots {
    font-weight: 400;
    margin-left: 1vw;
    margin-right: 0;
}

.form-payment {
    float: right;
    width: 34%;
    text-align: right;
    margin-top: 2.5vw;
    margin-right: 1vw;
}

button.mercadopago-button {
    background-color: var(--main-bg-color);
    color: #fff;
}

.footer-info {
    margin-top: 7vh;
    padding: 3vh 0 3vh 0;
    border-top: solid 1px var(--main-border-color);
}

.footer-copy {
    background-color: var(--main-bg-color);
}

.footer-copy p {
    font-size: 85%;
    color: #fff;
    padding: 5vw;
    margin-bottom: 0;
}

@media (min-width: 550px) {

    body {
        font-size: 16px;
    }


    .course-card {
        width: 85%;
        margin-left: 7.5%;
        margin-right: 7.5%;
        height: 120px;
    }

}

@media (min-width: 650px) {

    body {
        font-size: 17px;
    }

    .container {
        width: 85%;
        margin-left: 7.5%;
    }

    .course-card-title {
        max-height: 45px;
    }

    .course-card p {
        font-size: 75%;
    }
}

@media (min-width: 768px) {

    body {
        font-size: 18px;
    }

    .container {
        width: 75%;
        margin-left: 12.5%;
        overflow: hidden;
    }

    .cover {
        height: 35vh;
    }

    .lbl-info {
        font-size: 75%;
    }
}

@media (min-width: 950px) {

    .container {
        width: 75%;
        margin-left: 12.5%;
    }

    .course-view img {
        width: 50%;

    }

}


@media (min-width: 1050px) {


    .container {
        width: 65%;
        margin-left: 17.5%;
    }

    .cover-body {
        padding: 2.5%;
    }

    .course-card p {
        font-size: 75%;
    }
}

@media (min-width: 1150px) {


    .container {
        width: 60%;
        margin-left: 20%;
    }

    .course-card-title {
        max-height: 45px;
    }

    .course-card p {
        font-size: 80%;
    }

}

@media (min-width: 1300px) {


    body {
        font-size: 19px;
    }

    .container {
        width: 57.5%;
        margin-left: 21.25%;
    }

    .course-card {
        height: 130px;
    }



}

@media (min-width: 1650px) {
    .container {
        width: 55%;
        margin-left: 22.5%;
    }
}
